:root {
  --highlight-color: #f1c926;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%; /* Ensure React's root spans full height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-in {
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
